.title {
  color: #046380;
}

.posesList {
  list-style: none;
}

.poseItem a {
  text-decoration: none;
}

.poseItem a {
  color: #A7A37E;
}

.poseItem a:hover {
  color: #E6E2AF;
}

.poseItem.active a {
  color: #046380;
}
