<!doctype html>
<html lang="en" ng-app="yoyoga">
  <head>
    <meta charset="utf-8">
    <title>Yoyoga</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="../manual_dependencies/HighchartsAdapter.js"></script>
    <script src="../bower_components/highcharts/highcharts.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angularfire/dist/angularfire.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
  </head>
  <body class="container" ng-controller="PosesController as poses">

    <!-- Header -->
    <div class="row">
      <div class="title-div page-header col-sm-12">
        <h1 class="title">Yoyoga!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <!-- Poses List -->
        <poses-list></poses-list>
      </div>

      <div class="col-sm-9">
        <!-- Progress Chart -->
        <div class="row">
          <div id="progress-chart"
            class="col-sm-12"
            ng-show="poses.currentPose !== null">
              {{poses.currentChart}}
          </div>
        </div>

        <!-- Rating Form -->
        <rating-form></rating-form>
      </div>
    </div>

  </body>
</html>
