<ul class="posesList list-group">
  <li class="poseItem list-group-item"
    ng-class="{ active: poses.isSelected(pose) }"
    ng-repeat="pose in poses.myPoses">
    <h3>
      <a href ng-click="poses.setCurrentPose(pose)">{{pose.name}}</a>
    </h3>
    <img ng-src="{{pose.image}}" ng-show="poses.isSelected(pose)"/>
  </li>
</ul>
