<div class="row" ng-show="poses.currentPose !== null">
  <div class="col-sm-12">
    <form name="ratingForm"
      ng-submit="ratingForm.$valid && ratingCtrl.addRating(poses.currentPose);
        ratingForm.$valid && poses.setCurrentPose(poses.currentPose);"
      novalidate="true">
      <h4>
        Rate your progress for {{poses.currentPose.name}}!
      </h4>
      <fieldset class="form-group">
        <label for="date">Date</label>
        <input id="date"
          ng-model="ratingCtrl.rating.date"
          type="date"
          class="form-control"
          title="Date"
          required="true"
          min="{{poses.currentPose.progressData[poses.currentPose.progressData.length - 1].date
             | plusOneDay}}"
          max="{{'' | currentDate}}"/>
      </fieldset>
      <fieldset class="form-group">
        <label for="ratingValue">Rating</label>
        <select id="ratingValue"
          ng-model="ratingCtrl.rating.value"
          class="form-control"
          ng-options="values for values in [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]"
          title="Rating"
          required="true"/>
      </fieldset>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit!"/>
      </fieldset>
    </form>
  </div>
</div>
